.add-option{
display:flex;
flex-direction: column;
padding:$m-size;
}

.add-option__input{
    flex-grow: 1;
    background-color: $dark-grey;
    border:none;
    border-bottom: .3rem solid darken($dark-grey, 10%);
    margin-bottom: $s-size;
    color:$off-white;
    padding:$s-size;
}
.add-option-error{
    font-style: italic;
    color:$off-white;
    padding: 0 $m-size;

}

@media (min-width: 45rem){
    .add-option{
        flex-direction:row;
    }
    .add-option__input{
        margin-bottom:0;
        margin-right:$s-size;
    }
}