.option{
    display:flex;
    justify-content: space-between;
    padding:$m-size $m-size;
    border-bottom: .1rem solid lighten($light-grey, 10%);
}
.option:last-child{
    margin-bottom: $s-size;
}

.option__text{
    color:white;
    font-weight: 500;
    font-size:2rem;
    word-break: break-all;
}