.widget{
    background-color:$light-grey;
}

.widget-header{
    background-color: $grey;
    color:$off-white;
    padding:$m-size;
    display:flex;
    justify-content: space-between;
}

.widget__message{
    color:$off-white;
    margin:0;
    margin-bottom: $s-size;
    padding: $m-size;
    text-align:center;
    border-bottom: .1rem solid lighten($light-grey, 10%);

}